# local package
-e .

# external requirements
click~=8.0.0
mkdocs~=1.2.1
mkdocs-git-revision-date-plugin~=0.3.1
coverage
awscli
flake8~=3.9.2
python-dotenv>=0.5.1

fabric~=2.6.0
click~=8.0.1
tenacity~=7.0.0
pytest~=6.2.4
pytest_mock~=3.6.1
pandas~=1.2.4
pydantic~=1.8.2
py-openaq~=1.1.0
numpy~=1.20.2
netcdf4~=1.5.6
setuptools~=49.6.0
tox~=3.23.1
xarray~=0.18.2
dask~=2021.5.0
src~=0.1.0
scipy~=1.6.3
matplotlib~=3.4.2
seaborn~=0.11.1
xskillscore~=0.0.20
pytz~=2021.1
scikit-learn~=0.24.2
requests~=2.25.1
xgboost~=1.4.2
datacleaner~=0.1.5